<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.architecture">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".collection.AndroidApplication">
        <activity android:name=".collection.feature.user.UserActivity"
            tools:ignore="Instantiatable"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".collection.feature.userdetail.UserDetailActivity"/>

        <receiver android:name=".collection.broadcast.UserUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="com.architecture.action.USER_REFRESH"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.supports_size_changes" android:value="true" />

        <meta-data
            android:name="android.allow_multiple_resumed_activities" android:value="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
            android:name="com.example.architecture.collection.initializer.UserRepositoryInitializer"
            android:value="androidx.startup" />
        </provider>

    </application>

</manifest>